.card {
  width: 380px;
  height: 460px;
  background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #EBD8FF;
  background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
  border-radius: 50%;
  position: relative; 
  z-index: 2; 
}

.statsT {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #EBD8FF;
  margin: auto;
  margin-top: 26px;
}

.statsF {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #EBD8FF;
  margin: auto;
  margin-top: 16px;
}

.button {
  width: 196px;
  height: 50px;
  border-radius: 10px;
  padding: 14px 28px;
  background-color: #EBD8FF;
  color: #373737;
  margin: 26px 92px 36px 92px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  border: none;
  text-transform: uppercase;
}

.logo {
  width: 308px;
  height: 168px;
  object-fit: contain;
  margin-top: 28px;
  margin-bottom: -18px;
  margin-left: 36px;
  margin-right: 36px;
}

.logoContainer {
  width: 22px;
  height: 76px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.centerLine {
  position: absolute;
  top: 50%;
  /* left: 0; */
  transform: translateY(-210%);
  width: 100%;
  height: 8px;
  background: #EBD8FF;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06), inset 0px -1.71846px 3.43693px #AE7BE3, inset 0px 3.43693px 2.5777px #FBF8FF;
  z-index: 1;
}




