.card {
  width: 380px;
  height: 460px;
  background-color: #471CA9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #EBD8FF;
  background-color: #471CA9;
  border-radius: 50%;
  position: relative; 
  z-index: 2; 
}

.statsT {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #EBD8FF;
  margin: auto;
  margin-top: 26px;
}

.statsF {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #EBD8FF;
  margin: auto;
  margin-top: 16px;
}

.button {
  width: 196px;
  height: 50px;
  border-radius: 10px;
  padding: 14px 28px;
  background-color: #EBD8FF;
  color: #373737;
  margin: 26px 92px 36px 92px;
}

.logo {
  width: 308px;
  height: 168px;
  object-fit: contain;
  margin-top: 28px;
  margin-bottom: -18px;
  margin-left: 36px;
  margin-right: 36px;
}

.logoContainer {
  width: 22px;
  height: 76px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.centerLine {
  position: absolute;
  top: 50%;
  /* left: 0; */
  transform: translateY(-210%);
  width: 100%;
  height: 8px;
  background-color: #EBD8FF;
  z-index: 1;
}




